.App {
  /*text-align: center;*/
}

header {
  margin-left: 20px;
}

main {
  padding: 10px;
}

section {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  margin: 20px;
  height: auto;
}

.dx-fieldset:first-child > h4:first-child {
  margin-top: 0;
}

#notes-container > .dx-field > .dx-field-label {
  width: 20%;
}

#notes-container > .dx-field > .dx-field-value {
  width: 80%;
}

#button {
  margin-right: 60px;
}
