.App {
  /*text-align: center;*/
}

header {
  margin-left: 20px;
}

main {
  padding: 10px;
}

section {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 14px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  margin: 20px;
  height: auto;
}

.dx-fieldset:first-child > h4:first-child {
  margin-top: 0;
}

#notes-container > .dx-field > .dx-field-label {
  width: 20%;
}

#notes-container > .dx-field > .dx-field-value {
  width: 80%;
}

#icon-back {
  margin-left: 4px;
}

.buttons-demo {
  width: 600px;
  align-self: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons > div {
  width: 300px;
  flex-wrap: nowrap;
  display: flex;
}

.buttons-column > div {
  width: 150px;
  height: 50px;
  text-align: center;
}

.buttons-column {
  width: 150px;
  justify-content: center;
}

/* Home.js CSS*/
.dx-toolbar {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 5px 10px;
}

.dx-list-item-icon-container,
.dx-toolbar-before {
  width: 36px;
  padding-right: 0 !important;
  text-align: center;
}

.dx-list-item-content {
  padding-left: 10px !important;
}

.dx-button {
  background-color: rgba(191, 191, 191, -0.15);
  border: none;
}

.panel-list {
  height: 400px;
}

.dx-drawer-expand.dx-drawer-right .panel-list {
  float: right;
}

.panel-list .dx-list-item {
  color: #fff;
  border-top: 1px solid rgba(191, 191, 191, 0.15);
}

#content {
  height: 100%;
  padding: 10px 20px;
}

#content h2 {
  font-size: 26px;
}